@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-4">About Us</h1>
    <p>We are a team of car enthusiasts dedicated to helping you manage your car collection.</p>
</div>